<div name="conduct-toc">
<h3><a href="#code-of-conduct">Code of conduct</a></h3>

<ul style="font-weight: bold">
  <li><a href="#purpose">Purpose</a></li>
  <li><a href="#expected-behavior">Expected behavior</a></li>
  <li><a href="#unacceptable-behavior">Unacceptable behavior</a></li>
  <li><a href="#consequences-of-unacceptable-behavior">Consequences of unacceptable behavior</a></li>
  <li><a href="#if-you-witness-or-are-subject-to-unacceptable-behavior">
    If you witness or are subject to unacceptable behavior
  </a></li>
  <li><a href="#procedure-for-incident-handling">Procedure for incident handling</a></li>
  <li style="margin-left: 1em"><a href="#reviewing-incidents">Reviewing incidents</a></li>
  <li style="margin-left: 1em"><a href="#responding-to-incidents">Responding to incidents</a></li>
  <li style="margin-left: 1em"><a href="#special-cases">Special cases</a></li>
  <li><a href="#addressing-grievances">Addressing grievances</a></li>
  <li><a href="#scope">Scope</a></li>
  <li><a href="#license-and-attribution">License and attribution</a></li>
</ul>
</div>
