<div name="sidebar">

<h1>{{ site.title | default: site.github.repository_name }}</h1>
<h3>{{ site.description | default: site.github.project_tagline }}</h3>
<br>


<a href="/index.html">Who we are</a><br>
<a target=_blank"
   rel="noopener noreferrer"
   href="https://www.meetup.com/new-york-c-c-meetup-group/">
   Join us <img width="12em" src="/redirect-icon.png"/>
</a><br>
<br>

<a href="/policy/charter.html">Charter and purpose</a><br>
<a href="/policy/conduct.html">Code of conduct</a><br>
<a href="/policy/governance.html">Governance</a><br>
<br>
<a href="/contact.html">Get in touch</a><br>
<a target=_blank"
   rel="noopener noreferrer"
   href="https://opencollective.com/nycpp">
   Sponsor us <img width="12em" src="/redirect-icon.png"/>
</a><br>
<br>

<div name="sidebar-events">
  <hr>
  <b>Upcoming</b><br>

  February 9, 2023<br>

  <br>
  <b>Historical</b><br>

  <a target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/290543607/">
     January 12, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a><br>

  <a target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/289451548/">
     November 17, 2022 <img width="12em" src="/redirect-icon.png"/>
  </a> &#8212;
  <a target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/watch?v=wfpJCUJhZB4">
      video <img width="12em" src="/redirect-icon.png"/>
  </a><br>
  <br>
</div>

</div>
