<h1>{{ site.title | default: site.github.repository_name }}</h1>
<h3>{{ site.description | default: site.github.project_tagline }}</h3>
<br>

<a href="/index.html">About the meetup</a><br>
<br>

<a href="/policy/charter.html">Charter and purpose</a><br>
<a href="/policy/conduct.html">Code of conduct</a><br>
<a href="/policy/governance.html">Governance</a><br>
<br>
<a href="/contact.html">Get in touch</a><br>

<br><br><hr>

<b>Upcoming</b><br>
January 12, 2023<br>
February 9, 2023<br>
<br>

<b>Historical</b><br>
<a target="_blank"
   rel="noopener noreferrer"
   href="https://www.meetup.com/new-york-c-c-meetup-group/events/289451548/">November 17, 2022</a>
(<a target="_blank"
   rel="noopener noreferrer"
   href="https://www.youtube.com/watch?v=wfpJCUJhZB4">recording</a>)
<br>
