<div name="sidebar">

<h1>{{ site.title | default: site.github.repository_name }}</h1>
<h3>{{ site.description | default: site.github.project_tagline }}</h3>
<br>


<a href="/index">Who we are</a><br>
<a href="/photos">Event photos</a><br>
<a target=_blank"
   rel="noopener noreferrer"
   href="https://www.meetup.com/new-york-c-c-meetup-group/">
   Join us <img width="12em" src="/redirect-icon.png"/>
</a><br>
<br>

<a href="/policy/charter">Charter and purpose</a><br>
<a href="/policy/conduct">Code of conduct</a><br>
<a href="/policy/governance">Governance</a><br>
<br>
<a href="/contact">Get in touch</a><br>
<a href="/support">Support NYC++</a><br>
<br>

<div name="sidebar-events">
  <hr>
  <b>Upcoming</b><br>
  July 13, 2023<br>

  <br>
  <b>Historical</b><br>

  <span title="meetup.com event"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/293642196/">
     June 8, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="slides"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://drive.google.com/file/d/1WOgcUKL7gBAaLowMeOyXTAXKVFmQF69v/view?usp=drive_link"
  >📖</a></span><br>

  <span title="meetup.com event"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/292893396/">
     May 4, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="video recording"><a target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/watch?v=xpNSlCm9E8w"
  >📼</a></span>
  <span title="slides"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://drive.google.com/file/d/1ylw9OY5wlIiKR39RfDRwiLzmp2uVGOUq/view?usp=share_link"
  >📖</a></span><br>

  <span title="meetup.com event"><a target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/292220333/">
     April 6, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="video recording"><a target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/watch?v=6YNkaHRkTwo"
  >📼</a></span>
  <span title="slides"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://drive.google.com/file/d/1AvVTxVm83FGVMGFKbgGNGAYpPjCoQDa6/view?usp=sharing"
  >📖</a></span><br>

  <span title="meetup.com event"><a target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/291599044/">
     March 1, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="video recording"><a target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/watch?v=P1ZDOGDMNLM"
  >📼</a></span>
  <span title="slides"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://docs.google.com/presentation/d/1rRabWnRN7OiABE21bfmxA-yZbnU1oaSGozlQyAclUP8/edit?usp=share_link"
  >📖</a></span><br>

  <span title="meetup.com event"><a target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/291143453/">
     February 9, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="slides"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://docs.google.com/presentation/d/1pVTmLCZn0krxOV6WuxtT80v6iAzD55pGjyQhjPaDagA/edit?usp=sharing"
  >📖</a></span><br>

  <span title="meetup.com event"><a target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/290543607/">
     January 12, 2023 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="slides"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://docs.google.com/presentation/d/1b-pn8IX5VRy1ZuJoe5jl92ujONkyW9eqLMA2DgXAGqo/edit?usp=sharing&resourcekey=0-cuiiqLhF8vhB-B3T6Vntyw"
  >📖</a></span><br>

  <span title="meetup.com event"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.meetup.com/new-york-c-c-meetup-group/events/289451548/">
     November 17, 2022 <img width="12em" src="/redirect-icon.png"/>
  </a></span> &#8212;
  <span title="video recording"><a target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/watch?v=wfpJCUJhZB4"
  >📼</a></span><br>
  <br>

  <hr>
  <b>Sponsored by</b><br><br>
  <span title="bloomberg engineering logo"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.bloomberg.com/company/careers/working-here/engineering/">
     <img src="/assets/img/bloomberg.png" width="50%" />
  </a></span><br>
</div>

</div>
