<center>
  <b>Sponsored by</b><br><br>

  <div style="align-items: center; display: flex; justify-content: center">
  <span title="bloomberg engineering logo"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.bloomberg.com/company/careers/working-here/engineering/">
     <img src="/assets/img/bloomberg.png" width="120em" style="padding-bottom: 1em" />
  </a></span>
</center><center>
  <span title="monochrome logo"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.mmonochrome.com/">
     <img src="/assets/img/monochrome.png" width="60em"/>
  </a></span>

  <span title="undo logo"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://undo.io/">
     <img src="/assets/img/undo.png" width="60em" style="padding-left: 2em; -ms-transform: translateY(-50%);
  transform: translateY(-50%);"/>
  </a></span>
  </div>

</center>
