<center>
  <b>Sponsored by</b><br><br>

  <div style="align-items: center; display: flex; justify-content: center">
  <span title="bloomberg engineering logo"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.bloomberg.com/company/careers/working-here/engineering/">
     <img src="/assets/img/bloomberg.png" width="100em" style="padding-left: 2em; padding-right: 2em" />
  </a></span>

  <span title="monochrome logo"><a
     target="_blank"
     rel="noopener noreferrer"
     href="https://www.mmonochrome.com/">
     <img src="/assets/img/monochrome.png" width="80em" style="padding-left: 2em; padding-right: 2em"/>
  </a></span>
  </div>

</center>
