---
---

@import "{{ site.theme }}";

@media print, screen and (max-width: 960px) {
  header {
    padding-right: 0px;
  }
  div[name="sidebar"] {
    text-align: center;
  }
  div[name="sidebar-events"] {
    display: none;
  }
}

@media print, screen and (min-width: 960px) {
  div[name="mobile-sponsors"] {
    display: none;
  }
  div[name="mobile-meetups-link"] {
    display: none;
  }
}

@media print, screen and (max-width: 1500px) {
  div[name="conduct-toc"] {
    display: none;
  }
}
